shamefully-hoist=true
public-hoist-pattern[]=*hardhat*
public-hoist-pattern[]=*ethers*
public-hoist-pattern[]=@nomicfoundation/*
public-hoist-pattern[]=@typechain/*
public-hoist-pattern[]=@types/*
strict-peer-dependencies=false
auto-install-peers=true